    h1{
      color: red;
    }
    button {
      background: green;
      color: white;
      padding: 10px 20px;
      border: none;
      cursor: pointer;
      transition: 0.3s;
      border-radius: 8px;
    }
    button:hover {
      background: darkgreen;
    }
    body{
      max-width: 700px;
      margin: 0 auto;
      padding: 20px;
      background: lightgray;
    }
    a{
      color: blue;
      text-decoration: none;
    }
    a:hover{
      text-decoration: underline;
    }
    .img{
      text-align: center;
    }
    .skills{
      display: flex;
      gap: 20px;
      justify-content: center;
      flex-wrap: wrap;
    }
    .skills p{
      background: salmon;
      padding: 10px;
      border-radius: 5px;
      color: black;
    }
    .header{
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 20px;
      background: wheat;
      border-radius: 10px;
      padding: 20px;
      margin-bottom: 20px;
    }
    .menu{
      display: flex;
      gap: 15px;
      margin: 10px;
  
      
    }
    .menu a:hover{
      color: darkblue;
    }
    .hero{
      text-align: center;
      padding: 20px;
      font-size: 18px;
      margin-bottom: 10px;
    }
    .card{
      text-align: center;
      font-size: 18px;

      background: white;
      padding: 20px;
      margin-bottom: 20px;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
    #main-hero{
      background: lightblue;
    }
    .hero button{
      background: purple;
    }
    .hero button:hover{
      background: rebeccapurple;
    }